{% load static %}
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img src="{% static '/lib/dist/img/AdminLTELogo.webp' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">DataHealth</span>
      </a>
      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
        <ul class="navbar-nav" style="">
          <li class="nav-item">
            <a href="/" class="nav-link">Inicio</a>
          </li>
            <li class="nav-item">
            <a href="#" class="nav-link">Contactanos</a>
          </li>
          <li class="nav-item dropdown">
            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Opciones</a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
             <li class="dropdown-submenu dropdown-hover">
                <a  href="/pacientes/list" class="dropdown-item">Pacientes</a>
                <!-- <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                  <li><a href="" class="dropdown-item">Lista de pacientes</a></li>
                </ul> -->
             </li>
              <li class="dropdown-submenu dropdown-hover">
                <a  href="/empleado/list" class="dropdown-item">Empleados</a>
                <!-- <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                  <li><a href="" class="dropdown-item">Lista de Empleados</a></li>
                </ul> -->
              </li>
              <li><a href="/salas" class="dropdown-item">Salas</a></li>
            </ul>
          </li>
        </ul>
          <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <!-- Cierre de sesión -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}" >
            <i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión
          </a>
        </li>
      </ul>
      </div>
    </div>
  </nav>
  <!-- /.navbar -->
  <!-- Content Wrapper. Contains page content -->