{% extends 'FormBase.html' %}

{% block newbutton %}
         <button type="button" action="delete" class="btn btn-danger" id="eliminar"><a href="{% url 'Salas_Delete' rooms.n_room %}" class="btn btn-danger btn-xs">
            <i class="fas fa-trash"></i> Eliminar
        </a></button>

    <script>
        Swal.fire({
            title: 'Eliminar',
            text: 'Usted esta a punto de eliminar una sala\n ¿Seguro que quiere eliminar? ',
            icon:'trash'
        });
    </script>
{% endblock %}